:root{
  --view-ration: 1rem;
}
body {
  display: flex;
  background: #222;
  padding: 0;
  margin: 0;
  block-size: 100svh;
  inline-size: 100%;
}
#root{
  inline-size: 100%;
  block-size: 100%;
}
ul{
  list-style: none;
}
.game {
  display: flex;
  flex-direction: row;
  inline-size: 100%;
  block-size: 100%;
}
.game-board {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  block-size: 100%;
}
.list{
  inline-size: calc(30 * var(--view-ration));
  block-size: calc(30 * var(--view-ration));
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.square {
  background-color: transparent;
  border: none;
  color: #bbb;
  font-size: calc(1 * var(--view-ration));
  font-weight: bold;
  inline-size: 33.333%;
  block-size: 33.333%;;
  padding: 0;
  text-align: center;
  cursor: pointer;
}
svg.dashed {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
svg.dashed:nth-of-type(1) {
  inset-inline-start: 33%;
  inset-block-start: 0;
}
svg.dashed:nth-of-type(2){
  inset-inline-start: 66.66%;
  inset-block-start: 0;
}
svg.dashed:nth-of-type(3){
  inset-inline-start: 0;
  inset-block-start: 33%;
  rotate: 0 0 1 90deg;
}
svg.dashed:nth-of-type(4){
  inset-inline-start: 0;
  inset-block-start: 66.66%;
  rotate: 0 0 1 90deg;
}





.square.win{
  background: #003100;
}
.status {
  margin-bottom: 10px;
  color: #bbb;
}

.game-info {
  margin-left: 20px;
}
.game-info ul{
  display: flex;
  flex-direction: column;
}
.game-info ol > *{
  margin-block: .5rem;
  color: #bbb;
}
.game-info button{
  border: 1px solid #11111150;
  background: #222;
  color: #bbb;
  padding: .5rem;
  transition: all ease-in-out .3s;
  cursor: pointer;
  border-radius: 5px;
  margin-block-end: .5rem;
}
.game-info button:hover, 
.game-info button:active
{
  background: #111;
}
.game-info button.current{
  background: #111;
}