body {
  margin: 20px;
  padding: 0;
  background: #222;
}
ul{
  list-style: none;
}
.list{
  width: 150px;
  display: flex;
  flex-wrap: wrap;
}
.square {
  background: transparent;
  border: 1px solid #eee;
  color: #bbb;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  width: 50px;
  padding: 0;
  text-align: center;
  cursor: pointer;
}
.square.win{
  background: #003100;
}
.status {
  margin-bottom: 10px;
  color: #bbb;
}
.game {
  display: flex;
  flex-direction: row;
}
.game-info {
  margin-left: 20px;
}
.game-info ul{
  display: flex;
  flex-direction: column;
}
.game-info ol > *{
  margin-block: .5rem;
  color: #bbb;
}
.game-info button{
  border: 1px solid #11111150;
  background: #222;
  color: #bbb;
  padding: .5rem;
  transition: all ease-in-out .3s;
  cursor: pointer;
  border-radius: 5px;
  margin-block-end: .5rem;
}
.game-info button:hover, 
.game-info button:active
{
  background: #111;
}
.game-info button.current{
  background: #111;
}