@font-face {
  font-family: "sorreda";
  src: url(./fonts/SorredaPro.ttf) format("truetype");
}
@font-face {
  font-family: "nutellaBold";
  src: url(./fonts/nutellaBold.ttf) format("truetype");
}
:root{
  --view-ratio: 1rem;
  --primary-font: "nutellaBold", serif;
  --secondary-font: "sorreda", serif;
  --primary-color: #dcb288;
  --grey: #444;
  --black: #000000;
}
body {
  display: flex;
  background: var(--black);
  padding: 0;
  margin: 0;
  block-size: 100svh;
  inline-size: 100%;
  font-family: var(--primary-font);
  color: var(--primary-color);
}
#root{
  inline-size: 100%;
  block-size: 100%;
}
ul{
  list-style: none;
  padding: 0;
}
button{
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--primary-font);
  transition: .3s all ease-in-out;
}
.game {
  display: flex;
  flex-direction: row;
  inline-size: 100%;
  block-size: 100%;
}
.game-board {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  block-size: 100%;
  gap: 2rem;
}
.game-board .list{
  inline-size: calc(30 * var(--view-ratio));
  block-size: calc(30 * var(--view-ratio));
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.game-board .square {
  font-size: calc(1 * var(--view-ratio));
  font-weight: bold;
  inline-size: calc(33.333% - 2rem);
  block-size: calc(33.333% - 2rem);
  padding: 0;
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
  border-radius: 1rem;
}
.game-board .dashed {
  position: absolute;
  z-index: -1;
  inline-size: 100%;
  block-size: 100%;
}
svg.line {
  position: absolute;
  z-index: -1;
  block-size: 100%;
}
svg.line:nth-of-type(1) {
  inset-inline-start: 33%;
  inset-block-start: 0;
}
svg.line:nth-of-type(2){
  inset-inline-start: 66.66%;
  inset-block-start: 0;
}
svg.line:nth-of-type(3){
  inset-inline-start: 0;
  inset-block-start: 33%;
  rotate: 0 0 1 90deg;
}
svg.line:nth-of-type(4){
  inset-inline-start: 0;
  inset-block-start: 66.66%;
  rotate: 0 0 1 90deg;
}
.game-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-info .options {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.game-info .options button {
  border: none;
  padding: .5rem;
  font-weight: 900;
  font-size: 1.1rem;
}
.game-info ul{
  display: flex;
  flex-direction: column;
}
.game-info ul button{
  border-bottom: .1rem solid var(--grey);
  padding: .5rem;
  transition: all ease-in-out .3s;
  block-size: 7svh;
}
.game-info .description {
  display: flex;
  align-items: center;
}
.game-info .description .move {
  color: var(--grey);
  margin-inline-end: 1rem;
  font-family: var(--secondary-font);
  inline-size: 2rem;
  font-weight: 900;
  font-size: 1.2rem;
}
.game-info .description .player {
  margin-inline-end: 8rem;
  font-weight: 900;
  font-size: 1.4rem;
}
.game-info .description .square{
  font-weight: 100;
  font-size: 0.9rem;
}
.game-info .description .square strong{
  font-weight: 500;
}
.game-info button:hover, 
.game-info button:active, 
.square.win, 
.game-info .options button
{
  background: var(--primary-color);
  color: var(--black);
}
.game-info button.current{
  background: #222;
  color: var(--primary-color);
}
.status {
  margin-block-start: 3rem;
  font-size: 2rem;
  color: var(--primary-color);
}